@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    overflow: hidden;
    background-color: #50E3C2;
    background-image: 
    radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
    radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
}

.formulario{    
    backdrop-filter: blur(10px) saturate(79%);
    -webkit-backdrop-filter: blur(10px) saturate(79%);
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin: 20vh auto;    
    width: 25%;

    padding: 30px, 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px; 
    justify-content: center;
}

.linha{    
    color: #000000;
    padding: 8px;
    outline: none;
    display: flex;
    flex-direction: column;
    background: none;
    font-weight: bold;                 
}

input{   
    height: 18px; 
    width: 100%;
    min-width: 30vh;
    outline: none;
    color: #1b301c; 
    background: none;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    border-color: #000000;    
}

button{
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
}
   
   button:hover{
    background: #a6c900;
}
   
   button > svg{
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}
   
   button:hover svg{
    transform: translateX(5px);
}
   
   button:active{
    transform: scale(0.95);
}
   
